.box {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 64%;
    padding: 1rem;
    background: var(--detail-color);
}
.box-item {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1rem;
  background: var(--background-color); 
} 